@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*    font-family: 'NanumSquare', sans-serif;
        font-family: "Nanum Gothic", sans-serif;
*/
.bar{
     overflow: hidden;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bar li:first-child{
    float: left;
    width: 200px;
    font-size: 1.4rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bar li:nth-child(2){
    float: left;
    border-right: 1px solid #ccc;
    width: 817px;
    font-size: 1.4rem;
    color: #969696;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bar li:nth-child(2) label{
    width: 70px;
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.bar li:nth-child(2) label.selected{
    background-color: #6c6c6c;
    color: #ffffff;
}
.s-c-b-content center button{
    width: 150px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #0089ff;
    color: white;
    font-size: 1.4rem;
    font-family: 'NanumSquare', sans-serif;
    cursor: pointer;
}