@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*    font-family: 'NanumSquare', sans-serif;
        font-family: "Nanum Gothic", sans-serif;
*/

.introduce{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}
.railro{
    overflow: hidden;
    margin-top: 40px;
}
.railro .title{
    font-size: 2rem;
    font-weight: bold;
    color: #005095;
    font-family: "Nanum Gothic", sans-serif;
    margin-left: 40px;
}
.railro .description{
    overflow: hidden;
}
.railro .description img{
    float: left;
    margin-left: 50px;
}
.railro .description div{
    float: left;
    font-size: 2rem;
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
    margin-top: 15px;
}
.railro .description span{
    font-size: 1.6rem;
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
    width: 500px;
    overflow: hidden;
    display: inline-block;
    margin-top: 15px;
    line-height: 30px;
}
.introduce .using{
    font-size: 2rem;
    font-weight: bold;
    color: #005095;
    font-family: "Nanum Gothic", sans-serif;
    margin-left: 40px;
    margin-top: 80px;
}
.introduce .useimg{
    width: 744px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}