@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.Contents .page_num_group{
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Contents .page_num_group a{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
    padding: 3px 6px 4px 6px;
    margin-right: 5px;
    vertical-align: middle;
    color: #4b4b4b;
}
.Contents .page_num_group>.selected{
    color: rgb(0, 186, 255);
    border: 2px solid  rgb(0, 186, 255);
}
.Contents .page_num_group a:first-child{
    border: 1px solid #ccc;
    color: #646464;
}
.Contents .page_num_group a:last-child{
    border: 1px solid #ccc;
    color: #646464;
}